{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-4">
            <center>
                <img class="rounded-circle main_img" src="{{ image_file }}">
            </center>
        </div>
        <div class="col-8 brief_descr">
            <div class="row">
                <h1>Ana Carolina Gontijo Graça</h1>
                <h2>Matemática Computacional com enfase em computação</h2>
            </div>
            <div class="row contacts">
                <div class="col-6">
                    <a href="mailto:anagontijograca@gmail.com" target="_blank"><img src="{{ logo_files['gmail'] }}" class="logo"></a>:anagontijograca@gmail.com
                </div>
                <div class="col-6">
                    <img src="{{ logo_files['telegram'] }}" class="logo">:anacggraca
                </div>
                <div class="col-6">
                    <a href="https://www.linkedin.com/in/ana-carolina-gontijo-graça/" target="_blank"><img src="{{ logo_files['linkedin'] }}" class="logo"></a>:
                    ana-carolina-gontijo-graça
                </div>
                <div class="col-6">
                    <a href="https://github.com/anagontijo" target="_blank"><img src="{{ logo_files['github'] }}" class="logo"></a>:
                    anagontijo
                </div>
                <div class="col-6">
                    <a href="https://trello.com/anacggraca" target="_blank"><img src="{{ logo_files['trello'] }}" class="logo"></a>:
                    anacggraca
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Meu nome é Ana e sou uma matemática computacional graduada pela UFMG
            em 2019. Tenho interesse nas áreas de otimização, aprendizado de
            máquina, inteligência artificial e ciência dos dados em geral. Por
            parte da matemática meus maiores amores são álgebra linear e teoria
            dos números. Sou uma pessoa muito curiosa e estudiosa, gosto de
            aprender novas tecnologias, linguagens (tanto de programação quanto
            de comunicação) e métodos sempre que possível. Atualmente moro em
            Belo Horizonte - MG, com interesses profissionais e pessoais em me mudar
            para São Paulo - SP em breve.
        </div>
    </div>
</div>
{% endblock content %}
