{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="row">
        <div class="col-4">
            <center>
                <img class="rounded-circle main_img" src="{{ image_file }}">
            </center>
        </div>
        <div class="col-8">
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste,
            teste, teste, teste, teste, teste, teste, teste, teste, teste
        </div>
    </div>
</div>
{% endblock content %}
